:root{
    --green:#27ae60;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid #444;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}


/* Bootstrap hamburg (navbar) border remove  */
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
/* ends here border removal */

.border-none{
    border: none;
}

.w-100{
    width: 100%;
}

.w-9{
    width: 9%;
}
.w-0{
    display: none;
    height: 0;
    width: 0;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.w-88{
    width: 88%;
}
.bg-none{
    background-color: inherit;
}

.form-control{
    color: #27ae60;
}
.form-control:focus{
   border-color: black;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}